@import '_setting.scss';

.login {
    &-logo {
        font-size: 2.1rem;
        font-weight: 300;
        margin-bottom: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-weight: 600;
            color: #007ec5;
            font-size: 2.7rem;
        }
    }
    &-page {
        align-items: center;
        background-color: #e9ecef;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        font-size: 1rem;
    }
    &-box {
        width: 360px;
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0px;
            overflow-wrap: break-word;
            background-color: #ffffff;
            background-clip: border-box;
            border: 0px solid #00000020;
            border-radius: 0.25rem;
            box-shadow: #00000020 0px 0px 1px, #00000033 0px 1px 3px;
            margin-bottom: 0px;
        }
        &-msg {
            margin: 0px;
            padding: 0px 20px 20px;
            text-align: center;
        }
    }
    &-card-body {
        background-color: rgb(255, 255, 255);
        border-top: 0px;
        color: rgb(102, 102, 102);
        padding: 20px;
        .input {
            &-group {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 100%;
                &-append {
                    display: flex;
                    margin-left: -5px !important;
                }
                .input-group-text {
                    background-color: transparent;
                    border-bottom-right-radius: 0.25rem;
                    border-left: 0px;
                    border-top-right-radius: 0.25rem;
                    color: rgb(119, 119, 119);
                    transition: border-color 0.15s ease-in-out 0s,
                        box-shadow 0.15s ease-in-out 0s;
                }
                .input-group-text.input-error {
                    padding: 0.375rem 0.75rem;
                }
            }
        }
        .form-control:focus {
            box-shadow: none;
        }
        .form-control:focus ~ .input-group-append .input-group-text {
            border-color: #80bdff;
        }
        .form-control {
            border-right: 0px;
        }

        .btn-block {
            display: block;
            width: 100%;
            color: #fff;
        }
        a {
            color: rgb(0, 123, 255);
            text-decoration: none;
            background-color: transparent;
        }
        .card-body-bottom {
            align-items: center;
        }
    }
}

.input-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

input.form-control:focus {
    box-shadow: none !important;
}

p {
    margin-top: -0.5rem;
    margin-bottom: 0.6rem;
}
