@import '_setting.scss';

.card {
    &-item {
        cursor: pointer;
        display: block;
        position: relative;
        border-radius: $card-border-radius;
        flex-shrink: 0;
        margin-bottom: 1px;
        background-color: white;
        max-width: 300px;
        min-height: 20px;
        scroll-margin: 8px;
        box-shadow: $box-shadow;
    }
    &-detail {
        padding: 8px 8px 4px 12px;
        position: relative;
        width: 85%;
    }
    &-title {
        font-size: 14px;
        display: block;
        word-wrap: break-word;
        line-height: 1.5rem;
        margin: 0 0 4px;
    }
    &-image {
        margin: 0 8px;
        img {
            display: block;
            width: 100%;
            background-size: contain;
            height: 200px;
            object-fit: contain;
        }
    }
}
.card-item.active-card .card-item-operation {
    visibility: visible;
}

.card-item-operation {
    background-clip: padding-box;
    background-color: #282e33;
    background-origin: initial;
    color: #c2c2c7;
    border-radius: 3px;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
    visibility: hidden;
    z-index: 40;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 13px;
}
