@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$background-color: #f1f2f4;
$background-header-color: #d0cbc4;
$background-board-color: #0079bf;
$background-cards-color: #ebecf0;
$background-edit-card-color: #a1bdd914;
$background-editor: #1d2125;
$title-color: #172b4d;
$edit-card-color: #b6c2cf;
$footer-color: #44546f;
$input-color: #0079bf;
$box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
$open-card-color: #44546f;
$hover-button: #a6c5e229;
$hover-input: #85b8ff;
$gap: 10px;
$column-border-radius: 8px;
$card-border-radius: 5px;
$input-border-radius: 3px;
