@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$background-color: #f1f2f4;
$background-header-color: rgb(208, 203, 196);
$background-board-color: #0079bf;
$background-cards-color: #ebecf0;
$title-color: #172b4d;
$footer-color: #44546f;
$box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
$open-card-color: #44546f;
$gap: 10px;
$column-border-radius: 8px;
$card-border-radius: 5px;
$input-border-radius: 3px;
